<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="A1" value="11" />
    <add key="B" value="2" />
    <add key="AAA" value="AAA" />
  </appSettings>
  <system.web>
    <roleManager enabled="true" />
    <httpRuntime enable="false" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>